@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@keyframes sprinkling {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* 定义灑水效果 */
.sprinkling-effect {
  position: absolute; /* 确保其位置正确 */
  background-color: blue; /* 水滴颜色 */
  width: 5px; /* 水滴宽度 */
  height: 40px; /* 水滴高度 */
  border-radius: 50%; /* 圆形 */
  animation: sprinkling 1s infinite; /* 应用动画 */
  animation-delay: 0.5s; /* 动画延迟 */
}
